.card{
    background-color: white;
    padding-top:7em;
    margin: 0 auto;
    width: 50%;
    // &__img {
    //     background-position: center;
    //     background-size: cover;
    //     height: 100%;
    //     position: absolute;
    //     transition: all 0.3s ease;
    //     width: 100%;
    // }
}
