.card{
    background-color: white;
    padding-top:7em;
    margin: 0 auto;
    width: 50%;
&__when{
        color:white;
        position: absolute;
        left: 50%;
        top: 0;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Open Sans';
        transform: translate(-50%, 0);
}
}