
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 23, 23, 0.682);

}
.text{
    color: rgb(255, 254, 254);
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
}
.formContainer {
    width: 200px;
    border: 1px solid black;
}
.error {
    font-size: 0.8rem;
    color: #bb0000;
}
.loginForm {
    display: flex;
    flex-direction: column;
}
.loginFormItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}