@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    align-items: center;
    color: white;
    font-size: 25px;
}
.card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 100px);
    &__body{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(6, 6, 6, 0);
    }
    &__img{
        border-radius: 25%;
        margin: 1em;
    }
    &__title{
        display: flex;
        flex-direction: column;
        align-items: center;


    }
    &__title1{
        font-size: 30px;
        font-weight: 1000;
        font-family: 'Tangerine', cursive;
    }
    &__title2{
        font-size: 20px;
        font-weight: 500;
    }
}
