.logoutBtn {
    height: '30px';
    width: '100px';
}

.dashboardPage {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 7em;

}
.dashboardPage__name{
    font-family: 'Tai Heritage Pro', serif;
}