*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/images/logo.jpg');

    &__video {
        filter: opacity(95%);
        margin: 4em 0 0 0;
        width: 40%;
        padding-top: 5em;
    }
    &__img {
        background-image: url("../../assets/images/grupoCalle.jpg");
        width: 1200px;
        height: 795px;
        margin:30px;

    }
    &__img2{
        width: 1200px;
        height:795px;
        border: solid 5px black;
    }

}
.home__img:hover{
    opacity: 1;

}
