.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9;
  &__img {
    width: 200px;
    height: 50px;
    margin-left: -12em;
  }
  &__div{
    display: flex;
    justify-content: flex-start;
    &__nav {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &__li {
          text-decoration: none;
          list-style: none;
          font-family: 'Tai Heritage Pro', serif;
          font-size: 20px;
          padding-right: 2em;
          margin-top: 1em;
  
          &__link{
              color: rgb(100, 8, 8); 
  
          }
      }
    }
  }

}

.menu__div__nav__li:hover{
    transform:translateY(2px);
    transition: 0.5s;
}
.menu__div__nav__li__link:hover{
  text-decoration: none;
  color: darkgrey;
}
.bton{
  width: 3%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: -1;

}
.bton:hover{
  transform: rotate(1800deg);
  transition: 1s;
}
@media screen and (max-width:950px) {
  .menu{
    display: flex;
    position:static;
    input:checked  ~ ul{
      display:block;
    }
    &__nav{
      display: none;
    }
  }
}
@media screen and (max-width: 450px) {
  .menu{
    display: flex;
    position:static;
    &__img{
      width: 90px;
      height: 50px;
      margin-left: 0em;
    }
    &__nav{
      display: none;
    }
  }
}

