.socialMedia{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(100, 8, 8); 

    &__link{
        width: 60px;
        height: 60px;
        margin:1em;
        color: rgb(100, 8, 8); 

    }
}
.socialMedia__link:hover{
    width: 62px;
    height: 62px;
}