.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: minmax(100px, auto);
background-color: #080100;
background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
  }

  @media screen and (max-width: 850px) {
    .container{
      display: flex;
      flex-direction: column;
    }
  }