@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*{
  font-family: 'Special Elite', cursive;
}
// body {
//   animation: fadein 1s; 
//  }
//  @keyframes fadein {
//   0% {
//   opacity:0;
//   }
//   50%{
//   opacity:0.5;
//   }
//   100% {
//   opacity:1;
//   }
//  }
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.lp{
  background-color: #080100;
  background-image: url("https://www.transparenttextures.com/patterns/wall-4-light.png");
}
.bgBlack{
  background-color: #000000;
}
.ronded{
  border-radius: 20px;
}
.ronded:hover{
  transform: scale(1.01);
  transition: 0.5s ease-in-out;
}
.ciclon:hover{
  transform: rotate(0.5turn);
  transition: 0.5s ease-in-out;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #080100;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
.video {
  filter: opacity(70%);
  width: 100%;
  padding-top: 2em;
}
.textHover:hover{
transform: scale(1.8);
transition: .5s ease-in-out;
cursor:pointer;
}
.imgTrn{
  filter: opacity(80%);
}
.aboutBG{
  background-color: #111111;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.aboutHover:hover{
  transform: scale(1.05);
  cursor:grab;
  filter: grayscale(70%);
}